{% extends 'base.html' %}
{% load static %}
{% block 'titulo' %}HOTELS{% endblock %}
{% block 'conteudo' %}

    <div class="container mt-1">

         <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                  <div class="card text-center" style="width: 18rem;">
                      <img src="{% static 'img/tower_london.jpg' %}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">citizenM Tower of London</h5>
                        <p class="card-text">O citizenM Tower of London está localizado acima da estação de metrô Tower Hill. O citizenM oferece vista espetacular do Rio Tâmisa, da Torre de Londres e da Ponte da Torre, 370 quartos luxuosos e opções de refeições e bebidas disponíveis 24 horas por dia, 7 dias por semana.</p>
                        <a href="#" class="btn btn-success">Reservar</a>
                      </div>
                    </div>
               </div>

             <div class="col">
                  <div class="card text-center" style="width: 18rem;">
                      <img src="{% static 'img/sheraton_m.jpg' %}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Four Points by Sheraton Makkah Al Naseem</h5>
                        <p class="card-text">O Four Points by Sheraton Makkah Al Naseem dispõe de academia e restaurante em Makkah. A propriedade fica a cerca de 10 km do Makkah Mall e a 7 km de Abraj Al Bait. A acomodação oferece recepção 24 horas e Wi-Fi gratuito.</p>
                        <a href="#" class="btn btn-success">Reservar</a>
                      </div>
                    </div>
               </div>

              <div class="col">
                  <div class="card text-center" style="width: 18rem;">
                      <img src="{% static 'img/vietnam_macao.jpg' %}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">The Vinetian Macao</h5>
                        <p class="card-text">Situado em Macau, o The Venetian Macao oferece quartos elegantes e espaçosos, lojas de grife, piscina ao ar livre e 30 opções gastronômicas, incluindo iguarias chinesas, japonesas e internacionais. Você pode desfrutar de um desconto especial para ingressos para o TeamLab durante a estadia.</p>
                        <a href="#" class="btn btn-success">Reservar</a>
                      </div>
                    </div>
               </div>

             <div class="col">
                  <div class="card text-center" style="width: 18rem;">
                      <img src="{% static 'img/marina_bay_hotel.jpg' %}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Marina Bay Sands (SG Clean)</h5>
                        <p class="card-text">Este hotel emblemático ocupa um arranha-céu em plena baía e apresenta a maior piscina de borda infinita na cobertura do mundo, além de 20 opções gastronômicas e cassino de qualidade internacional. O hotel oferece acesso direto ao melhor shopping de Singapura e ao Museu ArtScience, que apresenta a exposição permanente Future World. Todos os quartos têm Wi-Fi gratuito.</p>
                        <a href="#" class="btn btn-success">Reservar</a>
                      </div>
                    </div>
               </div>

              <div class="col">
                  <div class="card text-center" style="width: 18rem;">
                      <img src="{% static 'img/rove_downtown.jpg' %}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Rove Downtown</h5>
                        <p class="card-text">Com uma piscina ao ar livre e um deck, o Rove Downtown Dubai conta com uma localização conveniente, bem no centro de Downtown Dubai e ao lado do Burj Khalifa e do The Dubai Mall. Este hotel oferece salas de reuniões 24 horas e quartos espaçosos de 26 m², dos quais 30% são conjugados. </p>
                       <a href="#" class="btn btn-success">Reservar</a>
                      </div>
                    </div>
               </div>

              <div class="col">
                  <div class="card text-center" style="width: 18rem;">
                      <img src="{% static 'img/blue_waters.jpg' %}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Blue Waters Hotel</h5>
                        <p class="card-text">Situado em frente à famosa orla de Durban, o Blue Waters Hotel fica a uma curta caminhada do Suncoast Cassino e do icônico Estádio Moses Mabhida. O parque temático uShaka Marine World e a pista de corridas de cavalo Greyville Racecourse ficam a 4 km da propriedade.</p>
                        <a href="#" class="btn btn-success">Reservar</a>
                      </div>
                    </div>
               </div>



         </div>

    </div>

{% endblock %}