{% load static %}
{% load bootstrap5 %}

<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {%block title%}
    <title>Home</title>
    {%endblock%}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>
{% block content %}
{% include 'nav.html' %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Best-Seller</h1>
        <p class="lead">Descubra seu próximo livro</p>
    </div>
</div>
<div class="container">
    <div class="mt-2">
        {% include 'msg.html' %}
    </div>

</div>
{% endblock %}
</body>
</html>

