{% extends "base/base.html" %}
{% load static %}

{% block 'title' %}Manflix - Login{% endblock 'title' %}

{% block 'others' %}

<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
{% endblock 'others' %}



{% block 'content' %}
{% include 'base/header.html'%}
<header class="min-h-screen w-full bg-black bg-opacity-75 showcase border-gray-600 border-b-8 flex justify-center py-20 bg-no-repeat"  style="background-image: url('{% static '/assets/background_netflix.jpg' %}');">
  <div class="z-10 h-full py-32 md:py-0 text-gray-100 w-6/12  flex items-center flex-col">

    <form class="bg-black bg-opacity-70 py-8 px-4 w-8/12 rounded-md" action="{% url 'login' %}" method="post">
    <h1 class="text-4xl font-semibold text-center">Login</h1>
    {% csrf_token %}

    <div class="my-3">
      <Label class='text-lg font-medium mb-3'>Email</Label>
      <input type="text" name="username" id="username" placeholder="Email ou número de telefone"
        class="p-2 bg-gray-200 rounded-sm text-gray-900 outline-none block w-full">
    </div>
    <div class="my-3">
      <Label class='text-lg font-medium mb-3'>Password</Label>
      <input type="password" name="password" id="password" placeholder="Senha"
        class="p-2 bg-gray-200 rounded-sm text-gray-900 outline-none block w-full">
    </div>

    <div class="flex justify-center items-center">
    <button class="py-2 px-4 bg-primary_red text-gray-100 font-medium text-lg rounded-md" type="submit">Entrar</button>
    </div>

    <div class="text-center my-4">
      <p>
        Do not have account <a href="{% url 'register' %}" class="text-blue-600"> Sign Up</a>
      </p>
      </form>
    </div>
</header>

{% include 'base/footer.html'%}
{% endblock 'content' %}
