<!DOCTYPE html>
{% load bootstrap5 %}
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block 'title' %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="icon" href="{% static 'photos/hospital.svg' %}">
    {% bootstrap_css %}
  </head>
  <body>
    {% include 'header.html' %}
    {% block 'content' %}

    {% endblock %}
    {% bootstrap_javascript %}
  </body>
</html>
