{% load static %}

<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4" id="border-bottom">

    <a href="{% url 'home' %}" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      Olympus Hospital.
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="{% url 'home' %}" class="nav-link px-2 link-dark">Home</a></li>
      {% if not user.is_authenticated %}
      <li><a href="#about" class="nav-link px-2 link-dark">About</a></li>
      <li><a href="#place" class="nav-link px-2 link-dark">Localization</a></li>
      {% else %}
      <li><a href="{% url 'schedules' %}" class="nav-link px-2 link-dark">Schedules</a></li>
      {% endif %}

    </ul>

    <div class="col-md-3 text-end">
      {% if not user.is_authenticated %}
        <a href="{% url 'login' %}" type="button" class="btn btn-outline-dark me-2">Login</a>
        <a href="{% url 'register' %}" type="button" class="btn btn-dark">Sign Up</a>
      {% else %}
        <a href="{% url 'appointment' %}" type="button" class="btn btn-dark">Make an Appointment</a>
        <a href="{% url 'logout' %}" type="button" class="btn btn-outline-dark me-2">Logout</a>
      {% endif %}
    </div>

  </header>

</div>


<style type="text/css">
#border-bottom {
    border-bottom: 1px solid #dee2e6!important;
 </style>